* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {

    display: flex;
    position: fixed;
    align-items: center;
    gap: 15px;
    margin-top: 15px;

}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    
}



#logo-header {
    cursor: pointer;
    margin: 0 0 0 35px;
    width: 50px;

}

#logo-header:hover {
    width: 55px;
    transition: 0.4s ease-in-out;
}

a {
    color: white !important;
    margin-right: 15px;
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

header a:hover {
    color: red !important;
    font-size: 19px;
    transition: 0.4s ease-in-out;
}

#links {
    text-shadow: 2px 2px 15px;
}



main {
    display: flex;
    height: 100vh;
    align-items: center;
    padding: 50px;
    justify-content: space-around;
}

#descricao {
    color: white;
    width: 50%;
    margin-top: 70px;
}

p {

    text-shadow: 3px 2px 2px black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}



#p2 #p3{
    width: 90%;
}

#logo-img {
    margin-bottom: 15px;
    height: 200px;
}

#p1 {
    width: 100vw;

}


.caixa-imagem {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;


}

#fundo-servicos {
    
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;


}



#luigi-img {

    width: 200px;
}

#lado-irmaos{
    margin-top: 150px;
}

#btn {

    margin-top: 20px;
    background-color: red;
    color: white;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 3px 3px 10px black;
}

#btn:hover {
    background-color: green;
    text-shadow: 3px 3px 10px white;
    transition: 0.4s ease-in-out;
    width: 205px;
    height: 55px;
}

.link-zap{
    
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#zap-img {
    width: 50px;
    
}

#zap-img:hover {
    transition: 0.4s ease-in-out;
    width: 53px;

}


#fale-conosco {
    z-index: 1;
    top: 30%;
    left: -300px;
    background-color: white;
    position: fixed;
    gap: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: end;
}

#mascara-formulario {
    visibility: hidden;
    z-index: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    left: 0;


}


input {
    padding: 7px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    outline-color: #18d80f;
}

textarea {
    outline-color: #18d80f;
    width: 270px;
    height: 100px;
    padding: 7px;
    border-radius: 7px;
    border: 1px solid gray;
}

@media screen and (max-width: 1100px){ 

#p1{
    display: none;
}

#p2 #p3{
    height: 60%;
    width: 10%;
}


    main{
        
        display: flex;
        flex-direction: column;
        padding: 10px;
        justify-content: flex-start;
    }
    
    #descricao{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgba(0, 255, 0, 0.1);
        padding: 0 15px 15px 15px;
        border-radius: 15px;
        box-shadow: 2px 2px 15px green;
        width: 80vw;
    
        
    }
    

    #lado-irmaos{
        padding-bottom: 15px;
        margin-top: 70px;
    }
    #irmaos-img{
        width: 80vw;
        height: auto;
    }

    header{
        margin: 0;
        position:static;
        top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    header a:hover {
        color: red !important;
        font-size: 19px;
        transition: 0.4s ease-in-out;
    }

    figure #logo-header{
        display: none;
    }

    #caixa-imagem{
        display: none;
    }

    #btn{
        display: none;
    }

    .caixa-imagem {
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
    
    
    }
    #fundo-servicos {
    
        min-width: 100%;
        min-height: 100%;
        position: fixed;
        top: 0;
        left: 0;
    
    
    }

    
}